{% extends 'base.html.twig' %}

{% block title %}Property{% endblock %}

{% block body %}

    <h1 class="mt-4 text-center">Recent properties</h1>
    <!-- Three Column Section -->
    <div class="container elements">
        <div class="row my-5">
            {% for property in properties %}
                <div class="col-md-4 col-sm-6 col-xs-12 my-4">
                    <img src="img/{{ (property.id % 2) + 1 }}.jpg" class="w-100">
                    <h4 class="my-4"><a href="{{ path('property_show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a></h4>
                    <p>{{ property.description }}</p>
                    <p class="d-flex justify-content-between">
                        <a href="{{ path('property_show', {id: property.id, slug: property.slug}) }}" class="btn btn-outline-dark btn-md">Detail</a>
                        <a href="{{ path('property_show', {id: property.id, slug: property.slug}) }}" class="btn btn-outline btn-md">{{ property.city }}</a>
                        <a href="{{ path('property_show', {id: property.id, slug: property.slug}) }}" class="btn btn-outline-dark btn-md">{{ property.formattedPrice }} £</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>


	<!-- Start Footer -->

	<!-- End Footer -->


	<!-- Start Socket -->

	<!-- End Socket -->

	<div class="container my-5"></div>
	{% endblock %}
